<header>
    <nav>
        <a href="/">Cool Books Library</a>
        <ul>
            <div class="nav"><li><a href="/authors">Authors</a></li></div>
            <div class="nav"><li><a href="/authors/new">Add Author</a></li></div>
            <div class="nav"><li><a href="/books">Books</a></li></div>
            <div class="nav"><li><a href="/books/new">Add Book</a></li></div>
        </ul>
    </nav>
</header>