@import "variables.css";


body{
    background: linear-gradient(to right, hsl(200, 100%, 8%), hsl(200, 100%, 16%));
    height: 100%;
    width: 100%;
}

label{
    color: #0499ca;
    font-weight: bold;
    font-size: 30px
}

div.authors{
    color: #0499ca;
    font-weight: bold;
    font-size: 20px
    
}

h2{
    font-family: Arial,sans-serif;
    color: #0499ca;
    font-size: 35px;
}

div label + div{
    height: auto;
    width: 200px;
}

nav{
    text-align: center;
    display: inline-block;
    padding-top:5%;
    width: 100%;
}

h1{
    margin-top: -1%;
    margin-bottom: 5%;
    font-size: 50px;
}

nav ul li{
    display: inline;
    float: left;
    margin-left:10%;
    margin-right:9%;
}

li:last-child{
    margin-right: 0% !important;
    padding-right: 0% !important;
}

a{
    text-decoration: none;
}

nav ul{
    padding-bottom: 3%;
}

nav a{
    text-decoration: none;
    color:#0aa5a5;
    text-transform: uppercase;
    font-weight: bold;
}

li a{
    font-size: 18px;
    font-family: Arial,sans-serif;
    text-decoration: none;
    color: #87CEFA;
}

div.covers img{
    margin-left:3%;

    height: 370px;
    width: 250px;
}