body {
    background-color: #20B2AA;
}

h2{
    margin-top: 5%;
    margin-left: 2%;
    position: absolute;
    width: 100%;
    resize: none;
    font-family: Arial,sans-serif;
    color: #ADD8E6;
}

nav a{
    margin-left: 40%;
    text-decoration: none;
    font-size: 30px;
    color:#E0FFFF;
}

div.nav{
     margin-top: 2%;
     position: relative;
     overflow: hidden;
     float: left;
     width: 23%;
     resize: none;

}
div.nav li a{
    font-size: 18px;
    font-family: Arial,sans-serif;
    text-decoration: none;
    color: #87CEFA;
}

div.covers{
    margin-top:10%;
    resize: none;
    margin-left: 2%;
}